{% extends "home/base.html" %}
{% block title %}goXplor{% endblock %}
{% block body %}

<div class="container-fluid">
    <img style="    height: 47vh;
    width: 100%;" src="/static/home/images/himalaya1.jpg" alt="image" />
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-8 blog-main">

            <h2>About US</h2>
            <P>
                goXplores is one of the sikkim tour packages is basically located in gangtok, sikkim. We are basically
                focusing on a
                business on offering a best tour packages in and around sikkim, where people will have plenty of options
                when it comes
                to exploring this tiny and beautifull state of India. We will assist you if the trip would be a short
                trip or a trip
                that may span over few weeks, our team will be there always to help you out.

                We can assure you the best travel packages which would be based on your needs, requirements and above
                all the budget.
                goXplores understands that every holiday would be different according to every person with different
                needs. That’s
                why our team would be dedicated always to provide quality and value every time.

                If you work closely with us and have faith on us, you will be quite impressed with the detail of our
                work that we
                deliver. We are travel enthusiast at the moment and we provide domestic packages. We are communicative,
                through which
                you all can clear all your doubts before getting any kind of package. We want our customers to come
                happily and enjoy
                their holidays.


            </P>
        </div>


        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">What do we assure you about goXplores</h4>
                <p class="mb-0">
                    <ol>
                        <li>
                            goXplores is Tours and Travel Website which deals with all kind of domestic packages.
                        </li>
                        <li>
                            goXplores itself is run by local expertise. So it plays an importanrt role here as we can
                            recommend you with the
                            memorable and autherntic experience to the holidays.

                        </li>
                        <li>
                            goXplores will be available all the time if you want an individual help, from shopping to
                            clubbing.

                        </li>
                        <li>
                            goXplores also promises you to meet and greet personally so that we can have a strong
                            connection with the customers.

                        </li>
                        <li>
                            goXplores does not believe on middlemen, so we always pass the savings on to you.

                        </li>
                    </ol>
                </p>
            </div>



            <div class="p-4">
                <h4 class="font-italic">Follow Us</h4>

                <a href="https://facebook.com">
                    <img class="follow-image" src="/static/home/images/facebook.png" alt="Facebook" />
                </a>
                <a href="https://twitter.com">
                    <img class="follow-image" src="/static/home/images/twitter.png" alt="Twitter" />
                </a>
                <a href="https://instagram.com">
                    <img class="follow-image" src="/static/home/images/instagram.png" alt="Instagram" />
                </a>
                <a href="https://youtube.com">
                    <img class="follow-image" src="/static/home/images/youtube.png" alt="Youtube" />
                </a>

            </div>
        </aside>
    </div>
</div>
{% endblock %}