{% extends "home/base.html" %}
{% block title %}goXplores{% endblock %}
{% block body %}
<div class="ftco-section bg-light" id="cards">
    <div class="container card-styles">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="icon-wrap px-4 pt-4">
                        <div class="icon d-flex justify-content-center align-items-center bg-info rounded-circle">
                            <span class="ion-logo-ionic text-light"></span>
                        </div>
                    </div>
                    <div class="card-body pb-5 px-4">
                        <h5 class="card-title" style="font-weight: bolder;">East Sikkim</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content. A
                            small
                            river
                            named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        <a href="#" class="btn btn-info">Find Packages</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="icon-wrap px-4 pt-4">
                        <div class="icon d-flex justify-content-center align-items-center bg-success rounded-circle">
                            <span class="ion-logo-ionic text-light"></span>
                        </div>
                    </div>
                    <div class="card-body pb-5 px-4">
                        <h5 class="card-title" style="font-weight: bolder;">West Sikkim</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content. A
                            small
                            river
                            named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        <a href="#" class="btn btn-info">Find Packages</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="icon-wrap px-4 pt-4">
                        <div class="icon d-flex justify-content-center align-items-center bg-warning rounded-circle">
                            <span class="ion-logo-ionic text-light"></span>
                        </div>
                    </div>
                    <div class="card-body pb-5 px-4">
                        <h5 class="card-title" style="font-weight: bolder;">North Sikkim</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content. A
                            small
                            river
                            named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        <a href="#" class="btn btn-info">Find Packages</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="icon-wrap px-4 pt-4">
                        <div class="icon d-flex justify-content-center align-items-center bg-warning rounded-circle">
                            <span class="ion-logo-ionic text-light"></span>
                        </div>
                    </div>
                    <div class="card-body pb-5 px-4">
                        <h5 class="card-title" style="font-weight: bolder;">South Sikkim</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content. A
                            small
                            river
                            named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        <a href="#" class="btn btn-info">Find Packages</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}